[submodule "openai-realtime-console"]
	path = openai-realtime-console
	url = https://github.com/openai/openai-realtime-console
[submodule "ai-bob-realtime"]
	path = ai-bob-realtime
	url = https://github.com/gaboom/ai-bob
[submodule "baios"]
	path = baios
	url = https://github.com/gaboom/baios
[submodule "mcp/mediawiki-mcp-server"]
	path = mcp/mediawiki-mcp-server
	url = https://github.com/ProfessionalWiki/MediaWiki-MCP-Server
[submodule "mcp/inspector"]
	path = mcp/inspector
	url = https://github.com/modelcontextprotocol/inspector
